@using AlgorithmEasy.StudentSide.Layouts.WorkspaceLayout.Components
@using AlgorithmEasy.StudentSide.Shared.Enums
@inherits LayoutComponentBase
@layout MainLayout
@inject IJSRuntime _jsRuntime

<CascadingValue Value="@this">
    <workspace-layout-container class="d-flex vw-100 h-100">
        <left class="h-100">
            <source-list-container class="w-100 h-100 d-flex flex-column">
                <top-row class="w-100 d-flex justify-content-end align-items-center px-3">
                    @if (Page == Page.Project)
                    {
                        <i class="fas fa-save mx-1 fa-lg"></i>
                        <i class="fas fa-plus mx-1 fa-lg" @onclick="@OpenCreateProjectDialog"></i>
                    }
                </top-row>
                @Body
            </source-list-container>
        </left>
        <right class="h-100 d-flex flex-column">
            <div class="w-100 h-75 d-flex">
                <blockly class="w-100 h-100 p-2" hidden="@(!Display.HasFlag(DisplayType.Workspace))">
                    <Workspace></Workspace>
                </blockly>
                <div class="w-100 h-100 overflow-auto p-2" hidden="@(!Display.HasFlag(DisplayType.CourseViewer))">
                    <CourseViewer></CourseViewer>
                </div>
            </div>
            <div class="w-100 h-25 p-2">
                <Terminal></Terminal>
            </div>
        </right>
    </workspace-layout-container>
</CascadingValue>
@if (Dialog == DialogType.CreateProject)
{
    <CreateProjectDialog CloseDialogCallback="@CloseDialog"></CreateProjectDialog>
}

@code
{
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    DisplayType _display;
    public DisplayType Display
    {
        get => _display;
        set
        {
            if (_display == value) return;
            _display = value;
            InvokeAsync(StateHasChanged);
        }
    }

    DialogType Dialog { get; set; }

    #region DialogParamters
    void OpenCreateProjectDialog()
    {
        Dialog = DialogType.CreateProject;
        InvokeAsync(StateHasChanged);
    }

    void CloseDialog()
    {
        Dialog = DialogType.None;
        InvokeAsync(StateHasChanged);
    }
    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync("Blockly.resizeWorkspace");
        Console.WriteLine(1);
        await base.OnAfterRenderAsync(firstRender);
    }

    public Page Page
    {
        get => Layout.Page;
        set
        {
            Layout.Page = value;
            InvokeAsync(StateHasChanged);
        }
    }

    public enum DialogType
    {
        None,
        CreateProject,
    }

    [Flags]
    public enum DisplayType
    {
        None,
        Workspace,
        CourseViewer,
        Both = Workspace | CourseViewer,
    }
}