@using Blazored.Toast
@using AlgorithmEasy.StudentSide.Shared.Enums
@using AlgorithmEasy.StudentSide.Shared.Components
@using AlgorithmEasy.StudentSide.Services
@inherits LayoutComponentBase
@inject ProjectManageService _projectManager

<CascadingValue Value="@this">
    <div class="page">
        <top-row>
            <top-row-container class="h-100 px-4 d-flex justify-content-between">
                <left class="d-flex align-items-center">
                    @switch (Page)
                    {
                        case Page.Project:
                            <i class="fas fa-book-reader fa-lg"
                               @onclick="@SaveProject"></i>
                            break;
                        case Page.Course:
                            <i class="fas fa-laptop-code fa-lg"
                               @onclick="@(() => _navigation.NavigateTo("/project"))"></i>
                            break;
                    }
                </left>
                <right class="d-flex align-items-center">
                    <div id="clock" class="mx-2 fa-lg"></div>
                    @if (Page == Page.Index)
                    {
                        <i class="fas fa-power-off mx-2 fa-lg"></i>
                    }
                    else
                    {
                        <i class="fas fa-cog mx-2 fa-lg"></i>
                    }
                </right>
            </top-row-container>
        </top-row>

        <main>
            @Body
        </main>
    </div>
</CascadingValue>

<BlazoredToasts/>

@switch (Type)
{
    case DialogType.SaveProject:
        <SaveProjectDialog
            SubmitSucceededCallback="@(() => _navigation.NavigateTo("/course"))"
            CloseDialogCallback="@CloseDialog"></SaveProjectDialog>
        break;
}

@code
{
    DialogType Type { get; set; } = DialogType.None;

    void SaveProject()
    {
        if (_projectManager.CurrentProject == null)
        {
            _navigation.NavigateTo("/course");
            return;
        }
        Type = DialogType.SaveProject;
        StateHasChanged();
    }

    void CloseDialog()
    {
        Type = DialogType.None;
        StateHasChanged();
    }

    Page _page;
    public Page Page
    {
        get => _page;
        set
        {
            _page = value;
            StateHasChanged();
        }
    }

    enum DialogType
    {
        None,
        SaveProject,
    }
}
